#bgfoto {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 630px;
  padding: 10px;
}

#order {
  display: flex;
  justify-content: end;
}

#intro {
  max-width: 650px;
  padding-top: 150px;
  padding-bottom: 15px;
  color: #ffffff;
}

#introbuttons {
  padding-bottom:30px;
}

#jobs {
  background-color: #17A2B8;
  padding-top: 8px;
  padding-bottom: 40px;
}

h2{
  color:#ffffff;
  font-weight: 500;
}

.col {
  margin-bottom: 1.5rem; 
  border: none;
  border-radius: 0;
}

#boton {
  color: #17A2B8;
}

#contact {
  padding: 25px 15px;
}

#foot {
  color: #ffffff;
  background-color: black;
  height: 100px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}